data
certs
.env
env
.cache/

.DS_Store
.bash_history

# Ignore static files
static/
media/
bleach_42/
# Ignore all .pyc files
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Ignore other common Python artifacts
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
