
/* *:focus { */
/*   outline: 0.25vmin dashed red; */
/*   outline-offset: 0.5vmin; */
/* } */

/* *:focus { */
/*   outline: 0.25vmin dashed red; */
/*   outline-offset: 0.5vmin; */
/* } */

/* Gamepad code */
.container-3d {
  perspective: 1500px;
  --x: 0;
  --y: 0;
  --pos: 0.5vmin;
  position: relative;
  /* width: 80vmin; */
  /* height: 34vmin; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%) var(--rotate); */
  transform-style: preserve-3d;
  /* transition: transform 1s; */
}

.container-3d * {
  position: absolute;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.is3d > div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is3d > div:nth-child(1) { transform: translateZ(calc(var(--pos) * 1)); }
.is3d > div:nth-child(2) { transform: translateZ(calc(var(--pos) * 2)); }
.is3d > div:nth-child(3) { transform: translateZ(calc(var(--pos) * 3)); }
.is3d > div:nth-child(4) { transform: translateZ(calc(var(--pos) * 4)); }
.is3d > div:nth-child(5) { transform: translateZ(calc(var(--pos) * 5)); }
.is3d > div:nth-child(6) { transform: translateZ(calc(var(--pos) * 6)); }

button {
  border: 0;
  color: transparent;
  background: transparent;
  padding: 0;
  transform-style: preserve-3d;
}

button.active, /* gamepad controlled */
button:active {
  --pos: 0.00;
}

/* Action buttons */
button.circle,
button.circle div {
  --shadow:
    inset 0 0 0 0.25vmin var(--color),
    inset 2.25vmin 2.25vmin 0.5vmin -2.25vmin #fff8,
    inset -2.25vmin -0.5vmin 1vmin -2.25vmin #fff8,
    inset -2.25vmin -0.5vmin 1.5vmin #fff2,
    inset 0.5vmin 1vmin 0.5vmin #0001,
    inset 1vmin 0vmin 0.5vmin #0001,
    inset -1.5vmin -1vmin 2vmin -0.5vmin #2583,
    inset -1vmin -0.5vmin 0.5vmin #fff3
    ;
  /* width: 6vmin; */
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color);
  z-index: 2;
  box-shadow: 
    0 0 0 0.25vmin #0002, 
    0 0 0.3vmin 0.1vmin #0008,
    0 0 0.3vmin 0.1vmin #fff4,
    0 0 0 0.2vmin #0002,
    var(--shadow);
}

button.circle div {
  box-shadow: 
    0 0 0 0.25vmin #0002, 
    0 0 0.3vmin 0.1vmin #fff4,
    0 0 0 0.2vmin #0001,
    var(--shadow);
}

button.triangle,
button.triangle div {
  --shadow:
    inset 0 0 0 0.25vmin var(--color),
    inset 2.25vmin 2.25vmin 0.5vmin -2.25vmin #fff8,
    inset -2.25vmin -0.5vmin 1vmin -2.25vmin #fff8,
    inset -2.25vmin -0.5vmin 1.5vmin #fff2,
    inset 0.5vmin 1vmin 0.5vmin #0001,
    inset 1vmin 0vmin 0.5vmin #0001,
    inset -1.5vmin -1vmin 2vmin -0.5vmin #2583,
    inset -1vmin -0.5vmin 0.5vmin #fff3;

  /* width: 6vmin; */
  aspect-ratio: 1;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: var(--color);
  z-index: 2;
  box-shadow: 
    0 0 0 0.25vmin #0002, 
    0 0 0.3vmin 0.1vmin #0008,
    0 0 0.3vmin 0.1vmin #fff4,
    0 0 0 0.2vmin #0002,
    var(--shadow);
}

button.triangle div {
  box-shadow: 
    0 0 0 0.25vmin #0002, 
    0 0 0.3vmin 0.1vmin #fff4,
    0 0 0 0.2vmin #0001,
    var(--shadow);
    ;
}

/* axis */
.axis {
    left: 50%;
    transform: translateX(-50%)
}

.axis, .axis div {
  --color: #111;
  --color: #FFD42A;
  background:
    linear-gradient(#0000 31%, #000c 33.33% 66.66%, #0000 70%),
    linear-gradient(90deg, #0000 31%, #000c 33.33% 66.66%, #0000 70%)
    ;
  width: 13.5vmin;
  aspect-ratio: 1;
  /* top: 9.75vmin; */
  /* left: 10.5vmin; */
  pointer-events: none;
  box-shadow: 
    -4.5vmin 0 0.25vmin -4.4vmin #000c,
    4.5vmin 0 0.25vmin -4.4vmin #000c,
    0 -4.5vmin 0.25vmin -4.4vmin #000c,
    0 4.5vmin 0.25vmin -4.4vmin #000c
}

.axis div {
  --color: #34393a;
  /* --color: #FFD42A; */
  /* #333; */
  --shadows: 
    radial-gradient(closest-side, var(--color) 93%, #0000 99.9%) 36.66% 0% / 10% 10% no-repeat,
    radial-gradient(closest-side, var(--color) 93%, #0000 99.9%) 62.66% 0% / 10% 10% no-repeat,
    radial-gradient(closest-side, var(--color) 93%, #0000 99.9%) 36.66% 100% / 10% 10% no-repeat,
    radial-gradient(closest-side, var(--color) 93%, #0000 99.9%) 62.66% 100% / 10% 10% no-repeat,
    radial-gradient(closest-side, var(--color) 93%, #0000 99.9%) 0 36.66% / 10% 10% no-repeat,
    radial-gradient(closest-side, var(--color) 93%, #0000 99.9%) 0 62.66% / 10% 10% no-repeat,
    radial-gradient(closest-side, var(--color) 93%, #0000 99.9%) 100% 36.66% / 10% 10% no-repeat,
    radial-gradient(closest-side, var(--color) 93%, #0000 99.9%) 100% 62.66% / 10% 10% no-repeat,
    linear-gradient(var(--color) 0 0) 50% 50% / 100% 26.66% no-repeat,
    linear-gradient(var(--color) 0 0) 50% 50% / 26.66% 100% no-repeat,
    linear-gradient(var(--color) 0 0) 50% 50% / 93.33% 33.33% no-repeat,
    linear-gradient(var(--color) 0 0) 50% 50% / 33.33% 93.33% no-repeat;
  /* top: 0; */
  /* left: 0; */
  box-shadow: none;
  background: 
    var(--shadows)
    ;
}

.axis div:last-of-type {
  --color: #3a4448;
  /* --color: #FFD42A; */
  /* #3a3a3a; */
  background:
    linear-gradient(#fff1, #fff0 20% 80%, #fff1),
    linear-gradient(90deg, #fff1, #fff0 20% 80%, #fff1),
    var(--shadows)
    ;
/*   width: 13.5vmin; */
  box-shadow: 
    inset 0 0 2vmin -0.5vmin #0009,
    inset -4.5vmin -4.5vmin 3vmin #2102,
    inset 4.5vmin 4.5vmin 3vmin #ffff0005
    ;
  clip-path: polygon(33.33% 0, 66.66% 0, 66.66% 33.33%, 100% 33.33%, 100% 66.66%, 66.66% 66.66%, 66.66% 100%, 33.33% 100%, 33.33% 66.66%, 0 66.66%, 0 33.33%, 33.33% 33.33%);
  -webkit-mask: var(--shadows);
  mask: var(--shadows)
}

.axis div:last-of-type::before {
  content: "";
  position: absolute;
  width: 25%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: 
    radial-gradient(#0000, #0002);
  box-shadow:
/*     inset 1vmin 1vmin 1vmin -0.5vmin #0002, */
    inset -0.25vmin 0 0.5vmin #28282855,
    inset 0 0 1vmin 0.25vmin #28282855,
    inset -1vmin -0.25vmin 0.5vmin -0.25vmin #ffffff11
    ;
  border-radius: 50%;
  opacity: 0.9;
}

#up, #right, #left, #down {
  width: 4.5vmin;
  height: 4.5vmin;
}

#up {
    top: 0;
    left: 50%; 
    transform: translateX(-50%)
}
#down {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
 }
#left {
    top: 50%;
    left: calc(50% - 6.75vmin);
    transform: translateY(-50%)
}
#right {
    top: 50%;
    left: calc(50% + 2.25vmin);
    transform: translateY(-50%)
}

#up.active ~ .axis div, /* gamepad js */
#up:active ~ .axis div { 
  transform-origin: 50% 100%;
  transform: translateZ(calc(var(--pos) * var(--z))) rotateX(5deg); 
}

#down.active ~ .axis div, /* gamepad js */
#down:active ~ .axis div{ 
  transform-origin: 50% 0%;
  transform:  translateZ(calc(var(--pos) * var(--z))) rotateX(-5deg); 
}

#left.active ~ .axis div, /* gamepad js */
#left:active ~ .axis div{ 
  transform-origin: 100% 50%;
  transform:  translateZ(calc(var(--pos) * var(--z))) rotateY(-5deg); 
}

#right.active ~ .axis div, /* gamepad js */
#right:active ~ .axis div{ 
  transform-origin: 0% 50%;
  transform:  translateZ(calc(var(--pos) * var(--z))) rotateY(5deg); 
}

/* Menu buttons */
#select,
#start {
  width: 6vmin;
  height: 2vmin;
  border-radius: 2.5vmin;
  background: #444;
  /* transform: translate(-50%, -50%); */
  /* top: 19.5vmin; */
  /* left: 32.5vmin; */
  box-shadow: 
    0 0 0 0.2vmin #0007, 
    0 0 0.3vmin 0.1vmin #0008,
    0 0 0.3vmin 0.1vmin #fff4,
    0 0 0 0.2vmin #0002,
    0 0.5vmin 0.5vmin #0004;
}

button#start.is3d div,
button#select.is3d div {
  --color: #222;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(calc(var(--pos) * var(--z))) scale(calc(1 - var(--z) * 0.03));
  border-radius: 2.5vmin;
  background: #444;
  box-shadow:
    inset 0 0 0.5vmin var(--color),
    inset 2.25vmin 2.25vmin 0.5vmin -2.25vmin #fff2,
    inset -2.25vmin -0.5vmin 1vmin -2.25vmin #fff2,
    inset -2.25vmin -0.5vmin 1.5vmin #fff1,
    inset 0.5vmin 1vmin 0.5vmin #0002,
    inset 1vmin 0vmin 0.5vmin #0002,
    inset -1.5vmin -1vmin 2vmin -0.5vmin #2583,
    inset -1vmin -0.5vmin 0.5vmin #fff3
}
