@import "./styles/nes-prefixed.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply min-h-screen capitalize bg-[url('/images/background.png')] bg-cover bg-center bg-fixed text-white flex flex-col relative;
}
#root {
  display: flex;
  flex-grow: 1;
}

input:-webkit-autofill {
  transition: all 0s 50000s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white !important;
}

@layer utilities {
  .custom-shadow {
    box-shadow: inset 0px 20px 35px 0px rgba(0, 0, 0, 0.75);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply primary-glass;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-stroke-sc;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-stroke-sc cursor-all-scroll;
  }
  .primary-gradient {
    background: linear-gradient(
      90deg,
      rgba(36, 36, 36, 0.4),
      rgba(36, 36, 36, 0.2)
    );
  }
  .secondary-gradient {
    background: linear-gradient(
      90deg,
      rgba(80, 80, 80, 0.4),
      rgba(80, 80, 80, 0.2)
    );
  }
  .cover-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }
  .transition-items:hover {
    /* background-color: black; */
    @apply bg-black;
    transition: 1s ease-in-out;
  }
  .primary-glass-no-rounded {
    background: linear-gradient(
      90deg,
      rgba(36, 36, 36, 0.4),
      rgba(36, 36, 36, 0.2)
    );
    backdrop-filter: blur(80px);
  }
  .primary-glass {
    background: linear-gradient(
      90deg,
      rgba(36, 36, 36, 0.4),
      rgba(36, 36, 36, 0.2)
    );
    border-radius: 8px;
    border: 0.5px solid #313131;
    backdrop-filter: blur(80px);
  }
  .options-glass {
    background: linear-gradient(
      90deg,
      rgba(22, 22, 22, 0.6),
      rgba(13, 3, 33, 0.4)
    );
    border-radius: 8px;
    border: 0.5px solid #313131;
    backdrop-filter: blur(80px);
  }
  .send-glass {
    background: linear-gradient(
      90deg,
      rgba(36, 36, 36, 0.4),
      rgba(36, 36, 36, 0.2)
    );
    border-radius: 8px;
    border: 0.5px solid #5b5b5b;
    backdrop-filter: blur(-10px);
  }
  .login-glass {
    background: linear-gradient(
      90deg,
      rgba(36, 36, 36, 0.4),
      rgba(36, 36, 36, 0.2)
    );
    backdrop-filter: blur(80px);
  }
  .secondary-glass {
    background: linear-gradient(
      90deg,
      rgba(80, 80, 80, 0.4),
      rgba(80, 80, 80, 0.2)
    );
    border-radius: 8px;
    border: 0.5px solid #5b5b5b;
    backdrop-filter: blur(40px);
  }
  .arrow-glass {
    background: linear-gradient(
      90deg,
      rgba(80, 80, 80, 0.4),
      rgba(80, 80, 80, 0.2)
    );
    border-radius: 50%;
    border: 0.5px solid #5b5b5b;
    backdrop-filter: blur(40px);
  }
  .hover-secondary {
    background: linear-gradient(
      90deg,
      rgba(80, 80, 80, 0.4),
      rgba(80, 80, 80, 0.2)
    );
  }
  .secondary-glass-friends {
    background: linear-gradient(
      90deg,
      rgba(80, 80, 80, 0.4),
      rgba(80, 80, 80, 0.2)
    );
    border-radius: 8px;
    border: 0.5px solid #5b5b5b;
  }
  .sc-overview-glass {
    background: linear-gradient(
      90deg,
      rgba(80, 80, 80, 0.4),
      rgba(80, 80, 80, 0.2)
    );
  }
  .message-glass {
    background: linear-gradient(
      90deg,
      rgba(80, 80, 80, 0.4),
      rgba(80, 80, 80, 0.2)
    );
  }
  .search-glass {
    background: linear-gradient(
      90deg,
      rgba(36, 36, 36, 0.4),
      rgba(36, 36, 36, 0.2)
    );
    border: 0.5px solid #5b5b5b;
    border-radius: 8px;
    backdrop-filter: blur(40px);
  }
  .container {
    @apply max-w-[1440px] m-auto lg:px-32 flex flex-col lg:gap-32 gap-16 grow;
  }
  .custom-container {
    @apply md:hidden;
  }
  .glass-component {
    @apply primary-glass flex lg:p-16 md:px-32 p-16 text-white;
  }
  /* -------- start login -------- */
  .login-input {
    background: none;
    outline: none;
  }
  /* -------- end login -------- */
  .get-height {
    height: calc(100vh - 116px);
  }
  @media (max-width: 1099px) {
    .get-height {
      height: 100%;
    }
  }
  .bmo-height {
    height: calc(100vh - 116px);
  }
  @media (max-width: 1099px) {
    .bmo-height {
      height: calc(100vh - 98px);
    }
  }
  .right-message::before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(80, 80, 80, 0.2);
  }
  .left-message::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    border-top: 12px solid rgba(80, 80, 80, 0.4);
  }
  .special-glass {
    backdrop-filter: blur(200px);
  }
}

/* -------- start home -------- */
.side-online-friends-container {
  height: calc(100vh - 109px);
}
/* -------- end home -------- */

/* -------- start loading animation -------- */

.rl-loading {
  box-shadow: 0 0 12px 3px #31e78b;
  animation: rl-loading-animation 1.5s ease-in-out infinite;
}
.loading-1 {
  animation-delay: 0s;
}
.loading-2 {
  animation-delay: 0.5s;
}
.loading-3 {
  animation-delay: 1s;
}
@keyframes rl-loading-animation {
  0% {
  }
  20% {
    background: white;
    transform: scale(1.5);
  }
  40% {
    background: #41f3fd;
    transform: scale(1);
  }
}
/* -------- end loading animation -------- */

.two-fa-radio + span {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.two-fa-radio + span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  border-radius: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background: transparent;
}

.two-fa-radio + span:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #31e78b;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 5px);
  left: 3px;
  opacity: 0;
  transform: scale(0, 0);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.two-fa-radio:checked + span:after {
  opacity: 1;
  transform: scale(1, 1);
}

.EmojiPickerReact.epr-dark-theme {
  background: linear-gradient(
    90deg,
    rgba(36, 36, 36, 0.3),
    rgba(36, 36, 36, 0.2)
  );
  border-radius: 8px;
}

.EmojiPickerReact .epr-emoji-category-label {
  backdrop-filter: blur(40px);
  background: transparent;
}

.EmojiPickerReact input[type="text"] {
  background: rgb(4, 4, 37);
}

.EmojiPickerReact .epr-body::-webkit-scrollbar {
  width: 3px;
}
.EmojiPickerReact .epr-body::-webkit-scrollbar-track {
  @apply primary-glass;
}
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
  @apply rounded-full bg-stroke-sc;
}
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb:hover {
  @apply bg-stroke-sc cursor-all-scroll;
}


/* ----------- start tournaments ----------- */
.round-collapse {
	@apply md:ml-[-16.666666666%];
}

.team-hover {
	@apply !bg-transparent;
}

.team-winner.team-hover {
	@apply !bg-green/40 text-black;
}

.team-loser.team-hover {
	@apply !bg-red/40 text-gray/70;
}

.team-loser {
	@apply bg-stroke-sc/50 text-stroke-sc;
}
/* ----------- end tournaments ----------- */